{{> head}}
   
   {{> navbar}}

<div class="row">

    <div class="col-8">
        <h1 >Iron Man</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, voluptates sed. Blanditiis suscipit enim cum, tempore a aliquid consequatur! Aperiam ab velit exercitationem. Quia culpa veniam ex vitae! Nemo, repudiandae?</p>
    </div>
   <div class="col-4">
        <img src="assets/img/iron-man.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}